
<div id="bodyy">
        <nav id="nav" class="mb-1">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a routerLink="/">Gestão Comercial</a></li>
                <li class="breadcrumb-item active">Cadastro</li>
                <li class="breadcrumb-item active">Cliente</li>
            </ol>
        </nav>
        <div class="border">

            <form id="formCodigo" class="form-produto">

                <div class="form-row">
                    <div class="form-group">
                        <label id="codigoProduto" class="label-form">Código</label>
                        <input type="email" class="form-control" id="inputCodigo">
                    </div>
                    <div id="formName" class="form-group">
                        <label class="label-form" for="inputNome">Nome</label>
                        <input type="text" class="form-control" id="inputNome">
                    </div>
                </div>

                <div class="form-row">
                    <div class="left-side mb-2 mt-2">
                        <div class="form-row">
                            <div id="formModel"  class="form-group">
                                <label class="label-form" for="inputModelo">RG</label>
                                <input type="text" class="form-control" id="inputModelo">
                            </div>
                            <div id="formCollection" class="form-group">
                                <label class="label-form" for="inputColecao">CPF</label>
                                <input type="text" class="form-control " id="inputColecao">
                            </div>
                            <div id="formFornecedor" class="form-group">
                                <label class="label-form" for="inputFornecedor">Data de Nascimento</label>
                                <input type="text" class="form-control " id="inputFornecedor">
                            </div>
                            <div id="formGrade" class="form-group">
                                <label class="label-form" for="inputGrade">Nacionalidade</label>
                                <input type="text" class="form-control " id="inputGrade">
                            </div>
                        </div>
                        <div class="form-row">
                            <div id="formDtEntrada" class="form-group">
                                <label class="label-form" for="inputDtEntrada">Telefone Fixo</label>
                                <input type="text" class="form-control " id="inputDataEntrada">
                            </div>
                            <div id="formDescription" class="form-group">
                                <label class="label-form" for="inputDescription">Celular</label>
                                <input type="text" class="form-control " id="inputDescription">
                            </div>
                        </div> 
                    </div>

                    <div class="right-side mb-2 mt-2">
                        <div class="form-row">
                            <div id="formQtd" class="form-group">
                                <label class="label-form" for="inputQuantidade">Rua</label>
                                <input type="text" class="form-control" id="inputQuantidade">
                            </div>
                            <div id="formCost"  class="form-group">
                                <label class="label-form" for="inputCusto">Bairro</label>
                                <input type="text" class="form-control" id="inputCusto">
                            </div>
                            <div id="formVlUnitary" class="form-group">
                                <label class="label-form" for="inputValorUnitario">Número</label>
                                <input type="text" class="form-control" id="inputValorUnitario">
                            </div>
                            <div id="formVlTotal" class="form-group">
                                <label class="label-form" for="formVlTotal">Complemento</label>
                                <input type="text" class="form-control" id="formValorTotal">
                            </div>
                            <div id="formCEP" class="form-group">
                                <label class="label-form" for="formVlTotal">CEP</label>
                                <input type="text" class="form-control" id="formValorTotal">
                            </div>
                            <div id="formPontoReferencia" class="form-group">
                                <label class="label-form" for="formVlTotal">Referência</label>
                                <input type="text" class="form-control" id="formValorTotal">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mt-3 mb-3 pb-4">
                    <button id="btnSalvar" type="submit" outerLink="new" class="btn btn-success float-right">Salvar</button>
                </div>

            </form>
           
        </div>
