#bodyy{
    height: 100%;
    width: 100%;
    padding: 20px;
    z-index: -1;
}
.breadcrumb{
    margin-top: 50px;
    font-family: 'Open Sans', 'Sans-Serif';
}
.title{
    margin-left: 15px;
}

.btn {
    width: 100px;
    font-family: 'Open Sans', 'Sans-Serif';
}
.form-row{
    font-family: 'Open Sans', 'Sans-Serif';
    font-size: 15px;
    z-index: -1 !important;
    margin-right: 10px;
}
#tableProdutos{
    border-radius: .25rem !important;
    box-shadow: 0px 2px 22px 2px rgba(0,0,0,0.4);
    background-color:rgb(4, 126, 112) !important;
    
}
.th-row{
    border-top: 0px !important;
    border-bottom: 0px !important;
}

#acoes{
    text-align: right;
}
#valor-unitario{
    width: 120px;
}
#botoes{
    float: right;
}
.center{
    margin-right: 85px;
}
#btnSalvar{
    border: none;
    
}
#btnSalvar:hover{
    box-shadow: 0px 2px 22px 2px rgba(0,0,0,0.4); 
}
.border{
    height:auto;
    border: 1px;
    border-radius: 5px !important;
    width: 100%;
    margin-top: 15px !important;
    padding-bottom: 35px !important;
    padding-top:  20px !important;
}
#formCodigo{
    margin-left: 20px;
}
#formName{
    width: 47%;
}
#formModel{
    margin-left: 10px;
    width: 25%;
}
#formCollection{
    margin-left: 10px;
    margin-right: 5px;
    width: 25.7%;
}
#formDescription{
    margin-right: 5px;
    width: 100%;
}
#formDtEntrada{
    width: 20%;
}
#formQtd{
    margin-left: 10px;
    width: 15%;
}
#formCost{
    margin-left: 10px;
    width: 15%;
}
#formVlUnitary{
    margin-left: 10px;
    width: 15%;
}
#formVlTotal{
    margin-left: 10px;
    width: 15%;
}