<nav class="navbar navbar-expand-lg navbar-dark bg-primary mb-4">
  <a class="navbar-brand" routerLink="/">Gestão Comercial</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div style="height: 20px; width:20px; background-color:black;">
    
  </div>
</nav>

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav">
  
      <li class="nav-item active">
        <a class="nav-link" routerLink="/reports">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Indicadores</span>
        </a>
      </li>
      <li class="nav-item">
          <a id="produto" class="nav-link" routerLink="#" >
            <i class="fas fa-fw fa-folder"></i>
            <span>Cadastro</span>
          <div id="submenu" class="dropdown sidebar navbar-nav">
              <div class="dropdown-content"> 
                  <li routerLink="/register">
                      <a id="ul-submenu" class="nav-link">
                      <span><a class="hifem">- </a>Novo Produto</span>
                      </a>
                  </li>
                  <li routerLink="/register/new-product">
                      <a id="ul-submenu2" class="nav-link">
                        <span><a class="hifem">- </a>Adicionar Produto</span>
                      </a>
                  </li>
                  <li>
                    <a id="ul-submenu2" class="nav-link" routerLink="/register">
                      <span><a class="hifem">- </a>Nova Venda</span>
                    </a>
                </li>
                <li>
                  <a id="ul-submenu2" class="nav-link" routerLink="/register">
                    <span><a class="hifem">- </a>Vendedor</span>
                  </a>
              </li>
              </div>
          </div>
        </a>
        </li>

      <li class="nav-item">
        <a id="vendedor" class="nav-link" href="representacao.html">
          <i class="fas fa-fw fa-table"></i>
          <span>Vendedor</span>
          <div id="submenu-vendedor" class="dropdown sidebar navbar-nav">
            <div class="dropdown-content"> 
                <li>
                    <a id="ul-submenu-vendedor" class="nav-link" routerLink="/categories">
                    <span>Cadastrar</span>
                    </a>
                </li>
                <li>
                    <a id="ul-submenu-vendedor1" class="nav-link" routerLink="/categories">
                    <span>Listar</span>
                    </a>
                </li>
                <li>
                  <a id="ul-submenu-vendedor2" class="nav-link" routerLink="/categories">
                  <span>Ranking</span>
                  </a>
              </li>
            </div>
        </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="representacao.html">
          <i classs="fas fa-fw fa-star"></i>
          <span>Metas</span></a>
      </li>
    </ul>

    <div id="container">
    <router-outlet></router-outlet>
    
</div>